:root {
    --border-radius: 10px;
    --font-size: 18px;
    /* Idk how to compute height of .links */
    --image-size: calc(254px + 2 * 3 * var(--font-size));
    --font-family: "Iosevka", "Iosevka Nerd Font", "Comic Sans";
    --column-gap: 100px;
}

@font-face {
    font-family: "Iosevka Nerd Font";
    font-weight: normal;
    font-style: normal;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Iosevka Nerd Font Complete.ttf");
}

@media (prefers-color-scheme: light) {
    .links {
        background-color: #f9f9f9;
        color: black;
        box-shadow: 0px 0px 9px 1px #f0f0f0;
    }
    html {
        background-color: #cdcdcd;
    }
    input {
        color: black;
    }
    .group1 {
        color: #e50e0e;
    }
    .group2 {
        color: #065fcd;
    }
    .group3 {
        color: #a727d1;
    }
    .group4 {
        color: #82BA7F;
    }
}

@media (prefers-color-scheme: dark) {
    .links {
        background-color: #424242;
        color: #e9e9e9;
        box-shadow: 0px 0px 9px 1px #505050;
    }
    html {
        background-color: #35363a;
    }
    input {
        color: #e9e9e9;
    }
    .group1 {
        color: #eb7373;
    }
    .group2 {
        color: #6ee5f1;
    }
    .group3 {
        color: #ea84ee;
    }
    .group4 {
        color: #82BA7F;
    }
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-display: swap;
    font-size: var(--font-size);
    line-height: 1.5em;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--border-radius);
    min-height: 15ch;
    min-width: 30px;
    padding: 3em;
    margin-right: 40px;
}

.group1,
.group2,
.group3,
.group4 {
    font-weight: bold;
}

ul {
    width: var(--column-gap);
}

p {
    margin: 0;
}

.search-icon {
    font-size: 20px;
}

.search-box,
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.image {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

img {
    width: 250%;
    height: var(--image-size);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 9px 1px #303030;
}

span.prompt,
span.search-icon {
    color: #82BA7F;
}

input {
    width: 100%;
    border: 0;
    margin: 0 0 0 8px;
    background-color: transparent;
    font: inherit;
    appearance: none;
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    column-gap: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em 0;
}

p #cursor {
    background-color: #9ce5c0;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}